.search {
    background-color:#EEEEEE;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 1px;
}

.boxes {
    display: flex;
    width: 90%;
    margin: auto;
    text-align:center;
    box-sizing: border-box;
}

.box_one{
    display: table;
    height:82px;
    width:35%;
    background-color: #7EE5DA;
    margin-right: 1px;
}

.box_two{
    display: table;
    height: 82px;
    width:20%;
    background-color: #70CCC2;
    margin-right: 1px;
}

.box_three{
    display: table;
    height: 82px;
    width:45%;
    background-color: #62B3AA;
}

.text{
    display: table-cell;
	vertical-align: middle;
	text-align: center;
}