*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive; 
    background-image: linear-gradient(rgb(102, 100, 100), rgb(234, 228, 224));
    width: 100%;
    height: 100%;
}
.main_image{
    height: 300px;
    position: relative;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}
.main_text{
    text-align: center;
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    color: white;
}
.section_title{
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section_image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section_twotext{
    padding: 80px;
    margin-bottom: 15px;
} 

.notes{
   margin: 80px;
}
footer{
    background-color: rgb(114, 114, 106);
    height: 50px;
    display: flex; 
    justify-content: end; 
    align-items: center; 
}
@media only screen and (max-width: 800px) {
    .section{
        flex-direction: column;
    }
    .section_image{
        width: 100%;
        margin: 0 0 20px 0;
    }
}